{
  "project_info": {
    "project_number": "REPLACE_SENDER_ID",
    "project_id": "REPLACE_PROJECT_ID",
    "storage_bucket": "REPLACE_PROJECT_ID.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:REPLACE_SENDER_ID:android:REPLACE",
        "android_client_info": {
          "package_name": "com.currentaffairs.current_affairs_app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
